doctype html
html(lang="en")
  head
    title dougwade.io
    link(rel="stylesheet" href="app.css" title="app-styles")
  body
    div(class="container")
      div(class="header")
        | 🚲
        | 
        a(href="#maintainer") Foss
        | 
        a(href="#written") Words
    h1 Doug Wade
    h4 I help people get jobs @
      a(href="http://www.indeed.com") Indeed
    h4 I'm a foss developer, cyclist, soccer hooligan, beer enthusiast
    div(id="speaker" href="#") Speaker
      ul
        li
          a(href="http://reactnl.org/") React NL 2016
        li
          a(href="https://www.meetup.com/ReactSD/events/235864572/") San Diego React Meetup 2.2017
        li
          a(href="http://www.meetup.com/Seattle-API-Meetup/events/224380379/") Seattle Api Meetup 8.2016
        li
          a(href="https://www.redfin.com/blog/2016/05/python-at-redfin-slides.html") Seattle Python Meetup 5.2016
    div(id="maintainer" href="#maintainer") Maintainer
      ul
        li
          a(href="https://github.com/hparra/generator-gulp-plugin") generator-gulp-plugin
        li
          a(href="https://github.com/lerna/lerna") lerna
        li
          a(href="https://github.com/niftylettuce/node-google-drive") node-google-drive
        li
          a(href="https://github.com/redfin/react-server") react-server
    div(id="contributor" href="#contributor") Contributor
      ul
        li
          a(href="https://github.com/avajs/ava") ava
        li
          a(href="https://github.com/sindresorhus/awesome-nodejs") awesome-nodejs
        li
          a(href="https://github.com/babel/babel") babel
        li
          a(href="https://github.com/getify/deePool") deePool
        li
          a(href="https://github.com/redfin/dirpy") dirpy
        li
          a(href="https://github.com/istanbuljs/istanbuljs") istanbuljs
        li
          a(href="https://github.com/ivpusic/koa-bunyan") koa-bunyan
        li
          a(href="https://github.com/ziyuang/mincemeatpy") mincemeatpy
        li
          a(href="https://github.com/sindresorhus/npm-name-cli") npm-name-cli
        li
          a(href="https://github.com/socketio/engine.io-client") socketio
        li
          a(href="https://github.com/sveltejs/svelte-cli") sveltejs
        li
          a(href="https://github.com/StevenIseki/react-visit") react-visit
        li
          a(href="https://github.com/jasonslyvia/react-lazyload") react-lazyload
        li
          a(href="https://github.com/redfin/request-local-storage") request-local-storage
        li
          a(href="https://github.com/redfin/stratocacher") stratocacher
    div(id="author" href="#author") Author
      ul
        li
          a(href="https://github.com/doug-wade/clefs") clefs
        li
          a(href="https://github.com/doug-wade/dnd-roller") dnd-roller
        li
          a(href="https://github.com/doug-wade/generator-koa-angular") generator-koa-angular
        li
          a(href="https://github.com/doug-wade/generator-koa-react") generator-koa-react
        li
          a(href="https://github.com/doug-wade/generator-sub") generator-sub
        li
          a(href="https://github.com/redfin/gulp-nodupe") gulp-nodupe
        li
          a(href="https://github.com/indeedeng/idd") idd
        li
          a(href="https://github.com/indeedeng/react-link-to-inbox") react-link-to-inbox
        li
          a(href="https://github.com/doug-wade/test-email-cli") test-email-cli
    div(id="wrote" href="#wrote") Blogger
      ul
        li
          a(href="https://medium.com/@AShedOfTools") Medium
        li
          a(href="https://www.redfin.com/blog/category/redfin-ceo/engineering-at-redfin") Redfin
    div(id="featured" href="#featured") Subject
      ul
        li
          a(href="https://blog.coursera.org/learner-story-got-qualified-built-confidence/") Coursera
        li
          a(href="https://snyk.io/blog/building-the-gulp-snyk-plugin/") Snyk
    div(id="footer")
      a(href="https://twitter.com/AShedOfTools" class="twitter-follow-button" data-show-count="false") Follow me on Twitter
      a(href="https://github.com/doug-wade" class="github-button"  data-style="mega" data-count-href="/doug-wade/followers" data-count-api="/users/doug-wade#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @doug-wade on GitHub") Follow me on Github
      div(class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="doug-wade-3440893b")
        a(class="LI-simple-link" href='https://www.linkedin.com/in/doug-wade-3440893b?trk=profile-badge') Doug Wade
    script(async defer type="text/javascript" src="https://buttons.github.io/buttons.js")
    script(async defer type="text/javascript" src="//platform.twitter.com/widgets.js" charset="utf-8")
    script(async defer type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js")
