doctype html
html(lang="en")
  head
    title dougwade.io
    link(rel="stylesheet" href="app.css" title="app-styles")
  body
    h1 Welcome to dougwade.io
    p.
      It's my site, I guess?
    ul
      li
        //- This is pretty janky; koa should be able to match documents without including the .html postfix
        a(href="/resume.html") I have a resume if you wanna see that.
      li
        a(href="https://github.com/doug-wade") Find me on github?
      li
        a(href="https://twitter.com/AShedOfTools") Twitter and stewfs?
      li
        a(href="https://www.linkedin.com/in/doug-wade-3440893b") I'm on LinkedIn or whatever?
      li
        a(href="https://blog.coursera.org/post/135716766822/learner-story-got-qualified-built-confidence?utm_medium=social&utm_source=tw&utm_campaign=learnerstory_DougWade_20151222") Coursera wrote about me?
      li
        a(href="https://www.redfin.com/blog/category/redfin-ceo/engineering-at-redfin") I blog a lot for Redfin.
