typography1 = normal 1rem "Helvetica Neue", Helvetica, Arial, sans-serif;
typography2 = .875rem;
colorDark = #333

body
  font:typography1
  line-height:1.5
  color:colorDark
  background-color:#f5f5f5

h1
  font-size:2rem

h2
  margin:2rem 0 .5rem
  font-weight:normal

.subtext
  font-size:typography2
  color:#999
  margin:0 0 1.5rem

div.wrapper
  background-color:white
  width:50%
  margin:auto
  padding:2rem
  box-shadow: 0px 0px 5px rgba(0,0,0,.2);

button
  border-radius:2px
  padding:0 1rem 0
  border:none
  font:typography1
  &.primary
    height:48px
    background-color:#1567B5
    margin-top:2rem
    color:white
    padding:0 2rem 0
  &.secondary
    height:36px
    background-color:#f5f5f5
    border:1px solid #ccc
    color:colorDark
    margin-right: 1.5rem

label
  display: block;
  margin-bottom: 2px;
  color: colorDark;
  font-size:typography2

input, textarea
  padding:.5rem
  font: inherit
  border:1px solid #ccc

input
  width: 200px

textarea.essay
  width: 90%
  height: 14em

.form-group
  margin:0 1.5rem 1rem 0
  display: inline-block;

div.popover
  position: fixed !important
  z-index: 999999999 !important
  top: 0px !important
  left: 0px !important
  height: 100% !important
  width: 100% !important
  background: black
  opacity: .85
  color: white

div.hidden
  display: none

p.centered
  position: relative
  top: 50%
  transform: translateY(-50%)
  margin: auto
  width: 85%
